crash-reports/
saves/
cache/
local/
logs/
natives*/
saves/
touhou-little-maid-server-pack/
usercache.json
usernamecache.json
resourcepacks/Minecraft-Mod-Language-Modpack.zip
config/jei/worldSettings.cfg
options.txt
AnotherWay.jar
hei_bookmarks.ini
chooser_0.png
mobs_0.png
pings_0.png
waypoints_0.png