# Configuration file

~CONFIG_VERSION: 0.1.0

##########################################################################################################
# advanced
#--------------------------------------------------------------------------------------------------------#
# 用于更改 HEI 功能的高级配置。
##########################################################################################################

advanced {
    # 不会显示于原料列表中的原料列表。格式：modId[:name[:meta]]。原料隐藏模式会自动添加或移除此处条目。 [默认: []]
    S:itemBlacklist <
     >
}


