# Configuration file

general {
    # Enable or disable the Auto Device modifier
    B:enableAutoDevice=true

    # Enable or disable the Circular Saw tool
    B:enableCircularSaw=true

    # Enable or disable the Magic Device tool
    B:enableMagicDevice=true

    # Enable or disable the Precision Sawing modifier
    B:enablePrecisionSawing=true
}


