# Configuration file

api {
    # Config the API to use on Windows platform. 
    # Available: TextServiceFramework, Imm32
    S:Windows=TextServiceFramework
}


debug {
    # Config if print debug log.
    B:DebugLog=false
}


general {
    # Turn off Input Method on mouse move.
    B:TurnOffOnMouseMove=true
}


modetext {
    # Text to display when in Alpha mode.
    S:AlphaMode=A

    # Text to display when in Native mode.
    S:NativeMode=中
}


uiless {
    # Config if render in-game candidate list.
    B:Windows=true
}


