# Configuration file

general {
    # SpellBlade mana capacity increase per level
    D:manaCapacityIncrease=0.15

    # Mele magic damage increase per level of melee upgrade
    D:meleMagicDamageIncrease=0.125

    # SpellBlade spell potency increase per level
    D:spellPotencyIncrease=0.15

    # Can spellblade trigger certain traits when target is hurt by spells, it's kind of op
    B:spellTriggerCertainTraits=false
}


