# Configuration file

rarities {
    # Sets the chance the given rarity will be applied. Default: 0.5
    D:basicChance=0.55

    # Sets the chance the given rarity will be applied. Default: 0.18
    D:uncommonChance=0.25

    # Sets the chance the given rarity will be applied. Default: 0.10
    D:rareChance=0.11

    # Sets the chance the given rarity will be applied. Default: 0.05
    D:ultraRareChance=0.06

    # Sets the chance the given rarity will be applied. Default: 0.02
    D:legendaryChance=0.02

    # Sets the chance the given rarity will be applied. Default: 0.01
    D:ancientChance=0.01

    # Sets the effectiveness for weapons of basic rarity. Default: 0
    D:weaponBasicEffect=0.0

    # Sets the effectiveness for weapons of uncommon rarity. Default: 0.155
    D:weaponUncommonEffect=0.1

    # Sets the effectiveness for weapons of rare rarity. Default: 0.305
    D:weaponRareEffect=0.3

    # Sets the effectiveness for weapons of ultra rare rarity. Default: 0.38
    D:weaponUltraRareEffect=0.4

    # Sets the effectiveness for weapons of legendary rarity. Default: 0.71
    D:weaponLegendaryEffect=0.8

    # Sets the effectiveness for weapons of ancient rarity. Default: 0.91
    D:weaponAncientEffect=1.0

    # Sets the effectiveness for armor of basic rarity. Default: 0
    D:armorBasicEffect=0.0

    # Sets the effectiveness for armor of uncommon rarity. Default: 0.155
    D:armorUncommonEffect=0.1

    # Sets the effectiveness for armor of rare rarity. Default: 0.305
    D:armorRareEffect=0.3

    # Sets the effectiveness for armor of ultra rare rarity. Default: 0.38
    D:armorUltraRareEffect=0.4

    # Sets the effectiveness for armor of legendary rarity. Default: 0.71
    D:armorLegendaryEffect=0.8

    # Sets the effectiveness for armor of ancient rarity. Default: 0.91
    D:armorAncientEffect=1.0
}


